body{
    text-align: center
}
.logo {
    float: left;
    margin: 5px;
}
nav {
    display: inline;
    margin: 0 auto;
    background-color: black;
    width: 100%;
}

}
.container{
    border: 1px solid #ededed;
    height: 125px; 
    min-height: 100%;
    background-color: white;
    width: 25%;
    margin-left: 25%;
    
}
#boxleft{
    font-size: 20px;
    background-color: white;
    margin-left: 10%;
    margin-top: 10%;
    float: left;
    text-align: left;
}
#boxright{
    text-align: center;
    background-color: white;
    border-left: 5px solid #ededed;
    float: right;
    margin-top: 4%;
    padding-top: 7%;
    width: 90px;
    height: 75px;
    padding-left: 10%;

}
.center{
    
    text-align: center; 
    vertical-align: middle;
}

