body{
    text-align: center
}

.taskbar {
    background-color: rgba(3, 51, 51, 0.8);
}

.logo {
    float: left;
    margin: 5px;
    width: 93.75px;
    height: 50px;
    z-index: 1;
    position: absolute;
    left: 0;
}
.title {
    margin: 0;
    padding: 0;
}
.nav {
    display: block;
    width: 100%;
}
.scores {
    float: left;
    text-align: center; 
    width: 40%; 
    padding-left: 10%;
    font-weight: bold; 
    font-size: 16pt;
}

.container{
    border: 1px solid #ededed;
    height: 125px; 
    min-height: 100%;
    background-color: white;
    width: 25%;
    margin-left: 25%;
}  
.standings{
    float: right;
    text-align: center; 
    width: 40%; 
    padding-left: 10%;
    font-weight: bold; 
    font-size: 16pt;
}
#boxleft{
    font-size: 20px;
    background-color: white;
    margin-left: 10%;
    margin-top: 10%;
    float: left;
    text-align: left;
}
#boxright{
    text-align: center;
    background-color: white;
    border-left: 5px solid #ededed;
    float: right;
    margin-top: 4%;
    padding-top: 7%;
    width: 90px;
    height: 75px;
    padding-left: 10%;

}
.center{
    
    text-align: center; 
    vertical-align: middle;
}

